{% extends 'memes/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <form method="post">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4" id="login">
                <div class="row">
                    <h5 style="color: white;margin-top: 4%;padding-left: 40%;">Login</h5>
                    <hr style="color: white;">
                    <div class="input-group-lg mb-3 mt-5">
                        <input type="text" class="form-control" placeholder="username" name="username">
                    </div>
                    <div class="input-group-lg mb-3 mt-3">
                        <input type="password" class="form-control" placeholder="password!" name="password">
                    </div>
                    <button type="submit" id="submit" class="btn btn-primary mt-4 btn-lg" style="background-color: rgb(153, 146, 134);">LogIn</button>
                </div>

            </div>
            <div class="col-4"></div>
        </div>
    </div>
    </form>
{% endblock %}
